*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}

header{
	background-image: url("1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;


}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.4s ease;
}

ul li a:hover{
	background-color: #fff;
	color:#000;
}
ul li.active a{
	background-color: #fff;
	color:#000;

}

.main{
	max-width: 1500px;
	margin: auto;
}
.title{
	position: absolute;
	top: 48%;
	left: 35%;
	transform: translate(-50%,-50%);
}

.title h1{

	color:#fff;
	font-size: 100px;
	font-weight: 700;

}

.title h2{

	color:#fff;
	font-size: 50px;
	text-align: center;
	display: block;
}
.title h3{

	color:#fff;
	font-size: 40px;
	text-align: left;
	display: block;
}

.subtitle{
	position: absolute;
	top:51%;
	left:80%;
	transform: translate(-50%,-50%);
}
.subtitle h3{
	 color:#fff;
	 font-size: 53px;

}	

.dis{
	position: absolute;
	top:90%;
	left: 37%;
	transform: translate(-50%,-50%);
}
.dis h4{
	color: #fff;
	font-size: 10px;
}
